$accent: #32aa66;

html, body {
	padding: 0;
	margin: 0;
}

body {
	background: #222222;
	color: #ffffff;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, sans-serif;
	font-size: 0.9rem;
	line-height: 1.3;
	font-weight: 400;
	letter-spacing: 0.02em;
}

a {
	color: $accent;
	font-weight: 400;

	text-decoration-color: currentColor;
	text-decoration-thickness: 0.01em;
	text-decoration-style: dotted;
	text-underline-offset: 0.21em;
}

hr {
	border: 0;
	border-top: 1px solid #404040;
	margin: 1.5em 0;
}
