$accent: #32aa66;
$body-bg: #222222;

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: $body-bg;
  color: #ffffff;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Ubuntu,
    sans-serif;
  font-size: 0.9rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.02em;
}

@mixin link-style {
  color: $accent;
  font-weight: 400;

  text-decoration: underline;
  text-decoration-color: currentColor;
  text-decoration-thickness: 0.01em;
  text-decoration-style: dotted;
  text-underline-offset: 0.15em;

  &:hover {
    text-decoration-style: solid;
  }
}

a {
  @include link-style;
}

hr {
  border: 0;
  border-top: 1px solid #404040;
  margin: 1.5em 0;
}

pre {
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: $body-bg;
}

::-webkit-scrollbar-thumb {
  background: lighten($body-bg, 10%);
  border-radius: 5px;
}
