$timeline-item-min-height: 2rem;
$timeline-item-margin-bottom: 3rem;
$timeline-item-line-margin-bottom: 0.5rem;

$timeline-line-width: 0.28125rem; // 4.5px;
$timeline-line-spacer: map-get($spacers, 4);
$timeline-line-color: $gray-100;

$timeline-bullet-width: 1.25rem;
$timeline-bullet-current-color: $primary;

.timeline {
  list-style: none;
  padding-left: 0;
}

.timeline-item {
  display: flex;
  flex-direction: row;
  min-height: $timeline-item-min-height;

  &.current .timeline-dot,
  &.current .timeline-dot-highlight {
    background: $timeline-bullet-current-color;
  }

  &.current .timeline-dot-highlight {
    animation: dot-highlight 2s infinite;
  }

  &:last-of-type .timeline-line {
    background: transparent;
  }

  &.minor .timeline-line .timeline-dot,
  &.minor .timeline-line .timeline-dot-highlight {
    display: none;
  }
}

.timeline-line {
  width: $timeline-line-width;

  background: $timeline-line-color;
  margin: 0 $timeline-line-spacer;

  position: relative;
  top: ($line-height-base - $timeline-bullet-width) / 2;

  .timeline-dot,
  .timeline-dot-highlight {
    display: block;
    width: $timeline-bullet-width;
    height: $timeline-bullet-width;

    border-radius: 50%;
    background: $timeline-line-color;

    position: absolute;
    left: calc(#{$timeline-line-width / 2} - #{$timeline-bullet-width / 2});
  }
}

.timeline-content {
  @extend .flex-grow-1;

  margin-bottom: $timeline-item-margin-bottom;
}

.timeline-title,
.timeline-description,
.timeline-timespan,
.timeline-badges {
  margin-bottom: $timeline-item-line-margin-bottom;
  display: block;
}

.timeline-title {
  @extend .h3;

  text-decoration: none;
  color: inherit;
}

.timeline-badges {
  margin-left: -0.25rem;
}

.timeline-timespan {
  @extend .text-muted;

  font-family: $font-family-monospace;
}

@keyframes dot-highlight {
  from {
    opacity: 0.5;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}
