$timeline-item-height: 3rem;

$timeline-line-width: 4.5px;
$timeline-line-spacer: map-get($spacers, 4);
$timeline-line-color: $gray-100;

$timeline-bullet-width: 1.25rem;
$timeline-bullet-current-color: $primary;

.timeline {
  list-style: none;
  padding-left: 0;
}

.timeline-item {
  display: flex;
  flex-direction: row;
  min-height: $timeline-item-height;

  &.current .timeline-dot {
    background: $timeline-bullet-current-color;
  }

  &:last-of-type .timeline-line {
    background: transparent;
  }
}

.timeline-line {
  width: $timeline-line-width;

  background: $timeline-line-color;
  margin: 0 $timeline-line-spacer;

  position: relative;
  top: ($line-height-base - $timeline-bullet-width) / 2;
}

.timeline-dot {
  width: $timeline-bullet-width;
  height: $timeline-bullet-width;

  border-radius: 50%;
  background: $timeline-line-color;

  position: absolute;
  left: calc(#{$timeline-line-width / 2} - #{$timeline-bullet-width / 2});
}

.timeline-content {
  @extend .flex-grow-1;

  &:last-child {
    margin-bottom: 2rem;
  }
}

.timeline-title {
  margin-bottom: 0.2rem;
}

.timeline-description {
  margin-bottom: 0.2rem;
}

.timeline-timespan {
  @extend .text-muted;

  font-family: $font-family-monospace;
  margin-bottom: 0.15rem;
}

.timeline-badges {
}
