$timeline-item-height: 3rem;

$timeline-line-width: .2rem;
$timeline-line-spacer: map-get($spacers, 4);
$timeline-line-color: $gray-100;

$timeline-bullet-width: 1rem;
$timeline-bullet-current-color: $primary;

.timeline {
  list-style: none;
  padding-left: 0;
}

.timeline-item {
  display: flex;
  flex-direction: row;
  min-height: $timeline-item-height;

  &.current .timeline-dot {
    background: $timeline-bullet-current-color;
  }

  &:last-of-type .timeline-line {
    background: transparent;
  }
}

.timeline-timespan {
  @extend .text-muted;
  @extend .d-none;
  @extend .d-md-block;

  font-family: $font-family-monospace;
  width: 35%;
}

.timeline-line {
  width: $timeline-line-width;

  background: $timeline-line-color;
  margin: 0 $timeline-line-spacer;

  position: relative;
  top: ($line-height-base - $timeline-bullet-width) / 2;
}

.timeline-dot {
  @extend .shadow-sm;

  width: $timeline-bullet-width;
  height: $timeline-bullet-width;

  border-radius: 50%;
  background: lighten($timeline-line-color, 1%);

  position: absolute;
  left: $timeline-line-width / 2 - $timeline-bullet-width / 2;
}

.timeline-content {
  @extend .flex-grow-1;
}

.timeline-title {
  margin-bottom: 0.5rem;
}

.timeline-description {
  margin-bottom: 2rem;
}
