$utilities: (
  "mbr": (
    responsive: true,
    property: margin-right margin-bottom,
    class: mbr,
    values: map-merge($spacers, (auto: auto))
  ),
  "lang-background-color": (
    property: background-color,
    class: bg-lang,
    values: $bg-lang-colors
  ),
  "lang-foreground-color": (
    property: color,
    class: bg-lang,
    values: $fg-lang-colors
  )
);

[class*="bg-lang-"] {
  font-weight: 600 !important;
}
