@import "variables";

@import "utilities";

@import "~bootstrap/scss/bootstrap";

@import "layout";
@import "scrollbar";
@import "timeline";
@import "transitions";

// Default background for languages without color
[class*=bg-lang-] {
  background: $gray-400;
}

.__nuxt-error-page {
  background: unset;

  .title {
    color: $gray-500;
  }
}
