name: Deploy

on:
  pull_request:
    branches: [source]
  push:
    branches: [source]

jobs:
  build-deploy:
    name: Build and Deploy

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        name: Checkout sources
      - uses: actions/setup-node@v6
        name: Setup Node.js
        with:
          node-version: "24"
          cache: "yarn"

      - run: yarn install --immutable
        name: Install dependencies

      - run: yarn generate
        name: Generate static site

      - uses: actions/upload-artifact@v6
        name: Upload artifact
        with:
          name: dist
          path: dist

      - uses: peaceiris/actions-gh-pages@v4
        name: Deploy to branch
        if: github.event_name != 'pull_request'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: master
          publish_dir: ./dist
          cname: ricardoboss.de
